<nav class="navbar">
    <ul class="nav-list">
        <li class="nav-items">
            <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-items">
            <a href="/item" class="nav-link">Item</a>
        </li>
    </ul>
</nav>