<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <%- include('.partials/header') %>
    <h1>Welcome</h1>
    <p class="sub-header">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae at,
      cum nulla hic optio earum natus sed.
    </p>

    <div id="carousel">
      <img src="/public/img/dream_TradingCard.jpg" class="active" />
      <img src="/public/img/dream_TradingCard (1).jpg" />
      <img src="/public/img/dream_TradingCard (2).jpg" />
    </div>
    <script src="/public/js/script.js"></script>
  </body>
</html>
